.vs/
x64/
src/
*.sln
*.vcxproj
*.vcxproj.filters
*vcxproj.user
nppBackup/
.xml
.musicxml
*.musicxml
*.xml

all.mid
*.mid
новый 5.txt
TEMP/SC Notes Generator v2.jar
/build-MusicAPP-Desktop_Qt_5_12_2_MinGW_32_bit-Debug
/nppBackup
/MusicAPP/xml
/MusicAPP/CMakeLists.txt.user
